@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}

@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a asp-controller="UIBitcoinRewards" asp-action="EditSettings" asp-route-storeId="@storeId" class="nav-link" id="Nav-BitcoinRewards">
            <svg role="img" class="icon icon-plugin" viewBox="0 0 32 32" fill="none">
                <path d="M16 2L4 8v8c0 6.628 5.372 12 12 12s12-5.372 12-12V8L16 2zm0 2.5L25.5 9.5v6.5c0 5.79-4.71 10.5-10.5 10.5S4.5 21.79 4.5 16V9.5L16 4.5z" fill="currentColor"/>
            </svg>
            <span>Bitcoin Rewards</span>
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Wallet" asp-action="Index" asp-route-storeId="@storeId" class="nav-link" id="Nav-BitcoinRewards-Wallet">
            <svg role="img" class="icon icon-plugin" viewBox="0 0 32 32" fill="none">
                <path d="M16 2L4 8v8c0 6.628 5.372 12 12 12s12-5.372 12-12V8L16 2zm0 2.5L25.5 9.5v6.5c0 5.79-4.71 10.5-10.5 10.5S4.5 21.79 4.5 16V9.5L16 4.5z" fill="currentColor"/>
            </svg>
            <span>Rewards Wallet</span>
        </a>
    </li>
}

