@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager;
@inject IScopeProvider ScopeProvider
@inject BTCPayServer.Plugins.BitcoinRewards.PaymentHandlers.WalletStatusProvider WalletStatusProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (SignInManager.IsSignedIn(User) && !string.IsNullOrEmpty(storeId))
{
    var isEnabled = await WalletStatusProvider.WalletEnabled(storeId);
    var isActive = Context.Request.Path.Value?.Contains("/bitcoin-rewards") == true;
    
    <li class="nav-item">
        <a class="nav-link @(isActive ? "active" : "")"
           asp-route-storeId="@storeId"
           asp-action="StoreConfig"
           asp-controller="Wallet">
            <span class="me-2 btcpay-status btcpay-status--@(isEnabled ? "enabled" : "pending")"></span>
            <span>Bitcoin Rewards</span>
        </a>
    </li>
    @if (isActive)
    {
        <li class="nav-item nav-item-sub">
            <a class="nav-link"
               asp-route-storeId="@storeId"
               asp-action="Wallet"
               asp-controller="Wallet">
                <span class="me-2">Wallet</span>
            </a>
        </li>
        
    }
}
