@using BTCPayServer.Abstractions.Extensions
@{
    ViewData.SetActivePage("BitcoinRewards", "Bitcoin Rewards Settings", "BitcoinRewards");
    Layout = "_Layout";
}

<div class="row">
    <div class="col-xxl-constrain col-xl-8">
        <h2 class="mb-4">@ViewData["Title"]</h2>
        <p>Bitcoin Rewards plugin configuration page. This will be implemented step by step.</p>
    </div>
</div>

